# this config needs haproxy-1.1.28 or haproxy-1.2.1

global
#	log 127.0.0.1	local0
#	log 127.0.0.1	local1 notice
	#log loghost	local0 info
	maxconn 4096
#	chroot /usr/share/haproxy
#	uid 99
#	gid 99
#	daemon
	debug
	#quiet

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
    option httpclose
	retries	3
	redispatch
	maxconn	2000
	contimeout	5000
	clitimeout	50000
	srvtimeout	50000

listen	appli5-backup 0.0.0.0:8080
	#stats           uri /stats
	stats enable
        stats auth admin:iq
	
	server	inst1 153.19.97.222:80

        acl auth_ok     cookie_auth dev

        # auth checked in backend, use default realm (c1dev)
        http-request cookie_auth if !auth_ok
